<!DOCTYPE html>
<html>
<head>
	<title>Bandwidth Chart</title>
</head>
<body>

<canvas id="bandwidth-chart"></canvas>

<script src="chartjs/Chart.Core.js"></script>
<script src="chartjs/Chart.Bar.js"></script>
<script src="bandwidthapp.js"></script>

<script>
	var chart_data = <%- JSON.stringify(chart_data) %>;
	initChart(chart_data);
</script>

</body>
</html>